.bg
    .container
        .item
            p TRUSTED BY COMPANIES ALL OVER THE WORLD
            .logo 
                .img 
                    img.img__Airbnb(src="/img/airbnb.png", alt="Airbnb")
                    img.img__Nasa(src="/img/nasa.png", alt="Nasa")
                    img.img__Uber(src="/img/uber.png", alt="Uber")
                    img.img__Target(src="/img/target.png", alt="Target")
                    img.img__TheNewYorkTimes(src="/img/thenewyorktimes.png", alt="TheNewYorkTimes")
                    img.img__Etsy(src="/img/etsy.png", alt="Etsy")
        .video
            .video-vd
                <video data-js-id="connectedness" aria-describedby="connectedness" autoplay="" loop="" muted="" playsinline=""><source src="https://a.slack-edge.com/9689dea/marketing/img/homepage/e2e-prospects/animations/webm/connectedness.webm" type="video/webm"><source src="https://a.slack-edge.com/9689dea/marketing/img/homepage/e2e-prospects/animations/mp4/connectedness.mp4" type="video/mp4"></video>
            .video-content 
                .video-content__item 
                    h1 Bring your team together  
                    p At the heart of Slack are channels: organized spaces for everyone and everything you need for work. In channels, it’s easier to connect across departments, offices, time zones and even other companies.
                    a.link__learn(href="https://slack.com/features/channels")  Learn more about channels <i class="bi bi-arrow-right"></i>
