.body-4
    div.div1 
        h1.h1-setting Get started on Slack   
        div.p-carousel
            div.p-block
                div.big-div
                    .p-content 
                        div.number <i class="bi bi-1-square-fill"></i>
                    .p-control1     
                        p.s2 Register 
                    .p-control2 
                        p <span class="highlight">Create a Slack workspace</span> in seconds.Try slack for free, no matter the size of your team

            div.p-block
                div.big-div
                    .p-content 
                        div.number <i class="bi bi-2-square-fill"></i>
                    .p-control1                        
                        p.s2 Invite your colleagues 
                    .p-control2 
                        p Slack is more enjoyable in a group, and it's easy to invite your team
            div.p-block
                div.big-div
                    .p-content 
                        div.number <i class="bi bi-3-square-fill"></i>
                    .p-control1     
                        p.s2 It's your turn
                    .p-control2   
                        p Lead a project, coordinate your team or just talk about it. Slack isa space where teamwork is built.

        div.card-carousel
            div.card-block
                a.card-link(href="#") 
                    <img class="img" alt="Slack logo on a square icon" loading="lazy" class="lazyload" data-src="https://a.slack-edge.com/96dd309/marketing/img/homepage/self-serve-campaign/promos/img-promo-01.jpg" data-srcset="https://a.slack-edge.com/96dd309/marketing/img/homepage/self-serve-campaign/promos/img-promo-01.jpg 1x, https://a.slack-edge.com/96dd309/marketing/img/homepage/self-serve-campaign/promos/img-promo-01@2x.jpg 2x" src="https://a.slack-edge.com/96dd309/marketing/img/homepage/self-serve-campaign/promos/img-promo-01.jpg" srcset="https://a.slack-edge.com/96dd309/marketing/img/homepage/self-serve-campaign/promos/img-promo-01.jpg 1x, https://a.slack-edge.com/96dd309/marketing/img/homepage/self-serve-campaign/promos/img-promo-01@2x.jpg 2x">
                    div.card-info
                        .card-content
                            p Features 
                            h4 Discover the possibilities of the platform
                        .card-control
                            p DISCOVER 
                            p <i class="bi bi-arrow-right"></i>

            div.card-block
                a.card-link(href="#") 
                    <img class="img" alt="Smiling emoji in a text bubble" loading="lazy" class="lazyload" data-src="https://a.slack-edge.com/96dd309/marketing/img/homepage/self-serve-campaign/promos/img-promo-02.jpg" data-srcset="https://a.slack-edge.com/96dd309/marketing/img/homepage/self-serve-campaign/promos/img-promo-02.jpg 1x, https://a.slack-edge.com/96dd309/marketing/img/homepage/self-serve-campaign/promos/img-promo-02@2x.jpg 2x" src="https://a.slack-edge.com/96dd309/marketing/img/homepage/self-serve-campaign/promos/img-promo-02.jpg" srcset="https://a.slack-edge.com/96dd309/marketing/img/homepage/self-serve-campaign/promos/img-promo-02.jpg 1x, https://a.slack-edge.com/96dd309/marketing/img/homepage/self-serve-campaign/promos/img-promo-02@2x.jpg 2x">
                    div.card-info
                        .card-content 
                            p Testimonials 
                            h4 Our customers say it best
                        .card-control
                            p DISCOVER 
                            p <i class="bi bi-arrow-right"></i>

            div.card-block
                a.card-link(href="#") 
                    <img class="img" alt="Megaphone Representing Marketing Teams" loading="lazy" class="lazyload" data-src="https://a.slack-edge.com/96dd309/marketing/img/homepage/self-serve-campaign/promos/img-promo-03.jpg" data-srcset="https://a.slack-edge.com/96dd309/marketing/img/homepage/self-serve-campaign/promos/img-promo-03.jpg 1x, https://a.slack-edge.com/96dd309/marketing/img/homepage/self-serve-campaign/promos/img-promo-03@2x.jpg 2x" src="https://a.slack-edge.com/96dd309/marketing/img/homepage/self-serve-campaign/promos/img-promo-03.jpg" srcset="https://a.slack-edge.com/96dd309/marketing/img/homepage/self-serve-campaign/promos/img-promo-03.jpg 1x, https://a.slack-edge.com/96dd309/marketing/img/homepage/self-serve-campaign/promos/img-promo-03@2x.jpg 2x"> 
                    div.card-info
                        .card-content
                            p Solutions
                            h4 See what Slack can do for your team
                        .card-control    
                            p DISCOVER 
                            p <i class="bi bi-arrow-right"></i>

            div.card-block
                a.card-link(href="#") 
                    <img class="img" alt="cartoon rocket in flight" loading="lazy" class="lazyload" data-src="https://a.slack-edge.com/96dd309/marketing/img/homepage/self-serve-campaign/promos/img-promo-04.jpg" data-srcset="https://a.slack-edge.com/96dd309/marketing/img/homepage/self-serve-campaign/promos/img-promo-04.jpg 1x, https://a.slack-edge.com/96dd309/marketing/img/homepage/self-serve-campaign/promos/img-promo-04@2x.jpg 2x" src="https://a.slack-edge.com/96dd309/marketing/img/homepage/self-serve-campaign/promos/img-promo-04.jpg" srcset="https://a.slack-edge.com/96dd309/marketing/img/homepage/self-serve-campaign/promos/img-promo-04.jpg 1x, https://a.slack-edge.com/96dd309/marketing/img/homepage/self-serve-campaign/promos/img-promo-04@2x.jpg 2x"> 
                    div.card-info
                        .card-content
                            p Practical Guide 
                            h4 Learn the basic of Slack
                        .card-control
                            p DISCOVER  
                            p <i class="bi bi-arrow-right"></i>                      

    div.div2 
        h3.h3-setting Welcome to your new digital HQ
        div.button-div-setting 
            a(href="#") 
                .bu 
                    button.btn1.button TRY FOR FREE
            a(href="#")
                .bu  
                    button.btn2.button2 TAKE TO SALES
