.nav-bg
    .container
        .nav-video
            .nav-content-left
                .nav-content-item
                    h1 Choose how you want to work
                    p In Slack, you’ve got all the flexibility to work when, where and how it’s best for you. You can easily chat, send audio and video clips, or hop on a huddle to talk things out live.
                    a.link__learn(href="https://slack.com/digital-hq")  Learn more about flexible communication <i class="bi bi-arrow-right"></i>          
            .nav-vd
                <video data-js-id="flexibility" aria-describedby="flexibility" autoplay="" loop="" muted="" playsinline="">
                <source src="https://a.slack-edge.com/9689dea/marketing/img/homepage/e2e-prospects/animations/webm/flexibility.webm" type="video/webm">
                <source src="https://a.slack-edge.com/9689dea/marketing/img/homepage/e2e-prospects/animations/mp4/flexibility.mp4" type="video/mp4"></video>
        .nav-video
            .nav-vd
                <video data-js-id="speed" aria-describedby="speed" autoplay="" loop="" muted="" playsinline="">
                <source src="https://a.slack-edge.com/221d25b/marketing/img/homepage/e2e-prospects/animations/webm/speed.webm" type="video/webm">
                <source src="https://a.slack-edge.com/7460822/marketing/img/homepage/e2e-prospects/inline/animations/mp4/speed.mp4" type="video/mp4"></video>
            .nav-content-right 
                .nav-content-item
                    h1 Move faster with your tools in one place
                    p With your other work apps connected to Slack, you can work faster by switching tabs less. And with powerful tools like Workflow Builder, you can automate away routine tasks.
                    a.link__learn(href="https://slack.com/integrations")  Learn more about the Slack platform <i class="bi bi-arrow-right"></i> 