.footer
    .container
        .footer-content1(style="background-color: #fff;")
            //- <i class="bi bi-facebook"></i>
            //- img(src="../img/etsy.png", alt="", srcset="")
            .slack__logo
                img(src="../img/slack.png", alt="", srcset="")
            .footer__list1
                ul 
                    li.footer__list1-header(id = "1") 
                        p WHY SLACK?
                        p.header_list-icon <i class="bi bi-chevron-down"></i>
                    li.footer__list1-content(data-id="1") Slack vs. Email
                    li.footer__list1-content(data-id="1") Channels
                    li.footer__list1-content(data-id="1") Engagement
                    li.footer__list1-content(data-id="1") Scale
                    li.footer__list1-content(data-id="1") Watch the Demo
                ul 
                    li.footer__list1-header(id = "2") 
                        p PRODUCT
                        p.header_list-icon <i class="bi bi-chevron-down"></i>
                    li.footer__list1-content(data-id="2") Features
                    li.footer__list1-content(data-id="2") Integrations
                    li.footer__list1-content(data-id="2") Enterprise
                    li.footer__list1-content(data-id="2") Solutions
                ul 
                    li.footer__list1-header(id = "3") 
                        p PRICING
                        p.header_list-icon <i class="bi bi-chevron-down"></i>
                    li.footer__list1-content(data-id="3") Plans
                    li.footer__list1-content(data-id="3") Paid vs. Free
                ul 
                    li.footer__list1-header(id = "4") 
                        p RESOURCES
                        p.header_list-icon <i class="bi bi-chevron-down"></i>
                    li.footer__list1-content(data-id="4") Partners
                    li.footer__list1-content(data-id="4") Developers
                    li.footer__list1-content(data-id="4") Community
                    li.footer__list1-content(data-id="4") Apps
                    li.footer__list1-content(data-id="4") Blog
                    li.footer__list1-content(data-id="4") Help Center
                    li.footer__list1-content(data-id="4") Events
                ul 
                    li.footer__list1-header(id = "5") 
                        p COMPANY
                        p.header_list-icon <i class="bi bi-chevron-down"></i>
                    li.footer__list1-content(data-id="5") About Us
                    li.footer__list1-content(data-id="5") Leadership
                    li.footer__list1-content(data-id="5") Investor Relations
                    li.footer__list1-content(data-id="5") News
                    li.footer__list1-content(data-id="5") Media Kit
                    li.footer__list1-content(data-id="5") Careers
        .footer-content2
            .footer__list2
                ul 
                    li Status&nbsp;&nbsp;&nbsp;&nbsp;
                    li Privacy&nbsp;&nbsp;&nbsp;&nbsp;
                    li Terms&nbsp;&nbsp;&nbsp;&nbsp;
                    li Cookie Preferences&nbsp;&nbsp;&nbsp;&nbsp;
                    li Contact Us&nbsp;&nbsp;&nbsp;&nbsp;
                    li 
                        p.change-language  <i class="bi bi-globe"></i>&nbsp;Change Region&nbsp;<i class="bi bi-chevron-compact-down"></i>
               

            .footer__list3
                ul 
                    li 
                        a(href="https://slack.com/downloads/windows")  <i class="bi bi-cloud-arrow-down"></i>Download Slack&nbsp;&nbsp;&nbsp;&nbsp;
                    li 
                        a(href="https://twitter.com/slackhq") <i class="bi bi-twitter"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                    li 
                        a(href="https://www.facebook.com/slackhq")  <i class="bi bi-facebook"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                    li 
                        a(href="https://www.youtube.com/channel/UCY3YECgeBcLCzIrFLP4gblw")  <i class="bi bi-youtube"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                    li 
                        a(href="https://www.linkedin.com/company/tiny-spec-inc/")  <i class="bi bi-linkedin"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        .footer__copyright
            p ©2022 Slack Technologies, LLC, a Salesforce company. All rights reserved. Various trademarks held by their respective owners.
        .selections
            h3 Change Region
            p Selecting a different region will change the language and content of slack.com.
            .selections__list
                ul 
                    li AMERICAS 
                    li Latinoamérica (español)
                    li Brasil (português)
                    li United States (English)
                ul 
                    li EUROPE
                    li Deutschland (Deutsch)
                    li España (español)
                    li France (français)
                    li Italia (italiano)
                    li United Kingdom (English)
                ul 
                    li ASIA PACIFIC
                    li 简体中文
                    li 繁體中文
                    li India (English)
                    li 日本 (日本語)
                    li 대한민국 (한국어)   
            .close 
                <i class="bi bi-x-lg"></i>    
script(type="module" src="../js/footer.js") 
        